{% extends 'glideEz/airline_layout.html' %} {% block head %}
<title>Add Trips</title>
{% endblock %}
{% block header %} <div class="gtco-loader"></div> {% endblock %}

{% block content %}<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner"
	style="background-image: url(images/img_6.jpg)">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-center">
				<div class="row row-mt-15em">

					<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
						<h1>Add Trips</h1>
					</div>

				</div>

			</div>
		</div>
	</div>
</header>

<div class="gtco-section">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
				<h2>Add Trips Of your Existing Flights</h2>
				<p>Add Information Regarding Trips and prices to Start Booking Process For customers.</p>
			</div>
		</div>

				<div class="container">
					<div class="title">Add Trips</div>
					<div class="content">
						<form action="{%url 'addtrip' %}">
							<div class="user-details">
								<div class="input-box1">
									<span class="deatils">Flight ID</span>
									<input name="Flight_ID" type="text" placeholder="Enter Flight ID " required>
								</div>
								<div class="input-box">
									<span class="deatils">1<sup>st</sup>Class Price</span>
									<input name="First_Price" type="number" placeholder="Enter Price " required>
								</div>
								<br>
								<div class="input-box">
									<span class="deatils">Economy Class</span>
									<input name="Economy_Price" type="number" placeholder="Enter Price " required>
								</div>
								<div class="input-box">
									<span class="deatils">Business Class</span>
									<input name="Business_Price" type="number" placeholder="Enter Price " required>
								</div>
								<div class="input-box2">
									<span class="deatils">Source</span>
									<select name="source" id="source" class="deatils" required>
										<option value="">Add Source</option>
										{%for loc in details%}
										<option value="{{loc.0}}">{{loc.0}}</option>
										{%endfor%}
									</select>
								</div>
								<div class="input-box2">
									<span class="deatils">Source Airport</span>
									<select name="source_ap" id="source_ap" class="deatils" required>
										<option value="">Choose Source Airport</option>
										{%for airp in airports %}
										<option value="{{airp.0}}" data-tag="{{airp.2}}", >{{airp.1}}</option>
										{%endfor%}
									</select>
								</div>
								<div class="input-box2">
									<span class="deatils">Destination</span>
									<select name="destination" id="destination" class="deatils" required>
										<option value="">Add Destination</option>
										{%for loc in details%}
										<option value="{{loc.0}}">{{loc.0}}</option>
										{%endfor%}
									</select>
								</div>
								<div class="input-box2">
									<span class="deatils">Destination Airport</span>
									<select name="destination_ap" id="destination_ap" class="deatils" required>
										<option value="">Choose Destination Airport</option>
										{%for airp in airports %}
										<option value="{{airp.0}}" data-tag="{{airp.2}}", >{{airp.1}}</option>
										{%endfor%}
									</select>
								</div>
								<div class="input-box2">
									<span class="deatils">Departure</span>
									<input name="departure" type="datetime-local" placeholder="Enter Time " required>
								</div>
								<div class="input-box2">
									<span class="deatils">Arrival</span>
									<input name="arrival" type="datetime-local" placeholder="Enter Time " required>
								</div>
							</div>



					<div class="button">
						<input type="submit" value="Add Trip For Booking">
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
<footer id="gtco-footer" role="contentinfo">
	<div class="gtco-container">
		<div class="row row-p	b-md">

			<div class="col-md-4">
				<div class="gtco-widget">
					<h3>About Us</h3>
					<p>At Glide EZ, you can find the best of deals and cheap air tickets to any place you want
						by booking your tickets on our website or app. Glide EZ helps you book flight tickets
						that are affordable and customized to your convenience. With customer satisfaction being
						our ultimate goal, we also have a 24/7 dedicated helpline to cater to our customer’s
						queries and concerns. You can get a hold of the cheapest flight of your choice today
						while also enjoying the other available options for your travel needs with us.</p>
				</div>
			</div>
			<div class="col-md-3 col-md-push-1">
				<div class="gtco-widget">
					<h3>Get In Touch</h3>
					<ul class="gtco-quick-contact">
						<li><a href="tel://918989779620"><i class="icon-phone"></i> +91 8989779620</a></li>
						<li><a href="mailto:info@glideez.com"><i class="icon-mail2"></i> info@glideez.com</a>
						</li>
						<li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
					</ul>
				</div>
			</div>

		</div>

	</div>
</footer>
{% endblock %}

{% block footer %}
<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="../../static/glideEz/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../../static/glideEz/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../../static/glideEz/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../../static/glideEz/js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="../../static/glideEz/js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="../../static/glideEz/js/jquery.countTo.js"></script>

<!-- Stellar Parallax -->
<script src="../../static/glideEz/js/jquery.stellar.min.js"></script>

<!-- Magnific Popup -->
<script src="../../static/glideEz/js/jquery.magnific-popup.min.js"></script>
<script src="../../static/glideEz/js/magnific-popup-options.js"></script>

<!-- Datepicker -->
<script src="../../static/glideEz/js/bootstrap-datepicker.min.js"></script>


<!-- Main -->
<script src="../../static/glideEz/js/main.js"></script>

<script>
	$('#destination').change( function() {
		var selected = $(this).val();
		$("#destination_ap option").each(function(item){
			console.log(selected) ;  
			var element =  $(this) ; 
			console.log(element.data("tag")) ; 
			if (element.data("tag") != selected){
				element.hide() ; 
			}else{
				element.show();
			}
		}) ; 
		
		$("#destination_ap").val($("#destination_ap option:visible:first").val());
		
});
</script>
<script>
	$('#source').on('change', function() {
		var selected = $(this).val();
		$("#source_ap option").each(function(item){
			console.log(selected) ;  
			var element =  $(this) ; 
			console.log(element.data("tag")) ; 
			if (element.data("tag") != selected){
				element.hide() ; 
			}else{
				element.show();
			}
		}) ; 
		
		$("#source_ap").val($("#source_ap option:visible:first").val());
		
});
</script>
{% endblock %}