{% extends 'glideEz/layout.html' %} {% block head %}
<title>Book Flight</title>
<title>Seat booking</title>
<script src="Glide_Ez_project/glideEz/static/glideEz/js/modernizr.min.js" type="text/javascript"></script>

<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="Glide_Ez_project/glideEz/static/glideEz/css/normalize.min.css">
<link rel="stylesheet" href="../../static/glideEz/css/book_flight.css">
{% endblock %}


{% block content %}
<form action="/payment" method="post">
    {% csrf_token %}
    <div class="plane">
        <div class="cockpit">
            <h1 class="label">Please select a seat</h1>
        </div>
        <div class="exit exit--front fuselage">

        </div>
        <div class="border-upper">
            <ol class="cabin fuselage">
                <h2 class="label">First Class</h2>

                <!-- Dynamically generate row based on first_class -->
                {% for row in book_details.first_rows %}
                <li class="row row--{{row}}">
                    <ol class="seats" type="A">
                        {% for seat in '123456'|make_list %}
                        <li class="seat">
                            <input type="checkbox" name="seats_selected" value="{{row}}A{{seat}}"
                                id="{{row}}{{seat}}A" />
                            <label for="{{row}}{{seat}}A">{{row}}A{{seat}}</label>
                        </li>
                        {% endfor %}
                    </ol>
                </li>
                {% endfor %}
            </ol>
        </div>
        <div class="border-upper">
            <h2 class="label">Business Class</h2>
            <ol class="cabin fuselage">

                <!-- Dynamically generate row based on business_class -->
                {% for row in book_details.business_rows %}
                <li class="row row--{{row}}">
                    <ol class="seats" type="B">
                        {% for seat in '123456'|make_list %}
                        <li class="seat">
                            <input type="checkbox" name="seats_selected" value="{{row}}B{{seat}}"
                                id="{{row}}{{seat}}B" />
                            <label for="{{row}}{{seat}}B">{{row}}B{{seat}}</label>
                        </li>
                        {% endfor %}
                    </ol>
                </li>
                {% endfor %}



            </ol>

            <ol class="cabin fuselage">
                <h2 class="label">Economy Class</h2>

                <!-- Dynamically generate row based on economy_class -->
                {% for row in book_details.economy_rows %}
                <li class="row row--{{row}}">
                    <ol class="seats" type="C">
                        {% for seat in '123456'|make_list %}
                        <li class="seat">
                            <input type="checkbox" name="seats_selected" value="{{row}}C{{seat}}"
                                id="{{row}}{{seat}}C" />
                            <label for="{{row}}{{seat}}C">{{row}}C{{seat}}</label>
                        </li>
                        {% endfor %}
                    </ol>


                </li>
                {% endfor %}
            </ol>
        </div>
        <div class="exit exit--back fuselage exit-border">

        </div>
    </div>
    <div id="book_button">
        <input type="hidden" name="flight_id" value="{{book_details.flight_id}}">
        <input type="hidden" name="trip_id" value="{{book_details.flight_id}}">
        <input class="btn btn-primary btn-danger border border-white rounded-pill"
            style="background-color: #101735; border-color: #101735;" type="submit" value="Book Seats">
    </div>
</form>
{% endblock %}