{% extends 'glideEz/layout.html' %} {% block head %}
<title>Contact</title>
{% endblock %}
{% block header %} <div class="gtco-loader"></div> {% endblock %}

{% block content %}

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner"
	style="background-image: url(../../static/glideEz/images/img_3.png)">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-left">
				<div class="row row-mt-15em">

					<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
						<span class="intro-text-small">Don't be shy</span>
						<h1>Get In Touch</h1>
					</div>

				</div>

			</div>
		</div>
	</div>
</header>


<div class="gtco-section border-bottom">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6 animate-box">
					<h3>Get In Touch</h3>
					<form action="{% url 'contact' %}" method="post" name="contactForm"
						onsubmit="return validateForm()">
						{% csrf_token %}
						<div class="row form-group">
							<div class="col-md-12">
								<label class="sr-only" for="name">Name</label>
								<input type="text" id="name" name="visitor_name" class="form-control"
									placeholder="Your firstname">
							</div>

						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label class="sr-only" for="email">Email</label>
								<input type="text" id="email" name="visitor_email" class="form-control"
									placeholder="Your email address">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label class="sr-only" for="subject">Subject</label>
								<input type="text" id="subject" name="email_title" class="form-control"
									placeholder="Your subject of this message">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label class="sr-only" for="message">Message</label>
								<textarea name="message" id="message" name="visitor_message" cols="30" rows="10"
									class="form-control" placeholder="Write us something"></textarea>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>

					</form>
				</div>
				<div class="col-md-5 col-md-push-1 animate-box">

					<div class="gtco-contact-info">
						<h3>Contact Information</h3>
						<ul>
							<li class="address">198 West 21th Street, <br> Suite 721 New York NY 10016</li>
							<li class="phone"><a href="tel://1234567920">+91 8989779620</a></li>
							<li class="email"><a href="mailto:info@glideez.com">info@glideez.com</a></li>
							<li class="url"><a href="https://freehtml5.co">glideez.com</a></li>
						</ul>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>

<footer id="gtco-footer" role="contentinfo">
	<div class="gtco-container">
		<div class="row row-p	b-md">
			<div class="col-md-4">
				<div class="gtco-widget">
					<h3>About Us</h3>
					<p>Glide-Ez is the brain child of a group of innovators who dreamed of making air travel a
						hassle-free and luxurious experience!</p>
				</div>
			</div>

			<div class="col-md-2 col-md-push-1">
				<div class="gtco-widget">
					<h3>Destination</h3>
					<ul class="gtco-footer-links">
						<li><a href="#">Goa</a></li>
						<li><a href="#">Gangtok</a></li>
						<li><a href="#">Kolkata</a></li>
						<li><a href="#">Guwahati</a></li>
						<li><a href="#">Srinagar</a></li>
						<li><a href="#">Banglore</a></li>
					</ul>
				</div>
			</div>
			<!-- 
			<div class="col-md-2 col-md-push-1">
				<div class="gtco-widget">
					<h3>Hotels</h3>
@@ -437,15 +459,14 @@ <h3>Hotels</h3>
						<li><a href="#">BoraBora Hotel</a></li>
					</ul>
				</div>
			</div> -->

			<div class="col-md-3 col-md-push-1">
				<div class="gtco-widget">
					<h3>Get In Touch</h3>
					<ul class="gtco-quick-contact">
						<li><a href="#"><i class="icon-phone"></i> +19 898977962</a></li>
						<li><a href="#"><i class="icon-mail2"></i> info@glideez.com</a></li>
					</ul>
				</div>
			</div>


			<div class="row copyright">
				<div class="col-md-12">
					<!-- <p class="pull-left">
					<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
					<small class="block">Designed by <a href="https://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small>
				</p> -->
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
</footer>
{% endblock %}

{% block footer %}
<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="../../static/glideEz/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../../static/glideEz/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../../static/glideEz/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../../static/glideEz/js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="../../static/glideEz/js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="../../static/glideEz/js/jquery.countTo.js"></script>

<!-- Stellar Parallax -->
<script src="../../static/glideEz/js/jquery.stellar.min.js"></script>

<!-- Magnific Popup -->
<script src="../../static/glideEz/js/jquery.magnific-popup.min.js"></script>
<script src="../../static/glideEz/js/magnific-popup-options.js"></script>

<!-- Datepicker -->
<script src="../../static/glideEz/js/bootstrap-datepicker.min.js"></script>


<!-- Main -->
<script src="../../static/glideEz/js/main.js"></script>

<!-- To validate form -->
<!-- #TODO: validate form isn'working -->
<script>
	function validateForm() {
		// alert('Name must be filled out and must only contain letters');
		let name = document.forms['contactForm']['visitor_name'].value;
		let email = document.forms['contactForm']['visitor_email'].value;
		let subject = document.forms['contactForm']['email_title'].value;
		let message = document.forms['contactForm']['visitor_message'].value;

		if (name == '' || hasNumber(name)) {
			alert('Name must be filled out and must only contain letters');
			return false;
		} else if (email == '' && subject == '') {
			alert('Email or subject must be filled out');
			return false;
		} else if (!(email.includes('@'))) {
			alert('Email does not seem to be valid');
			return false;
		} else if (message == '') {
			alert('Message must be filled out');
			return false;
		} else {
			// confirm or cancel
			return confirm('Do you really want to sent the message?')
		}
	}

	function hasNumber(myString) {
		return /\d/.test(myString);
	}
</script>
{% endblock %}