html,
body,
.intro {
  height: 100%;

}

.intro {
  padding-top: 3%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: 0.5rem;
}

#nav-color {
  background-color: #101735;
}

.intro {
  border: 5px solid red;

}